
{{#each this}}
<ul>
    <li class="title"><img src="{{flags.svg}}" alt="{{name}}" width='45'><h1>{{name}}</h1></li>
    <li>capital:{{capital}}</li>
    <li>population:{{population}}</li>
    <li class='list-group-item'>Languages:
        {{#each languages}}
        {{#if @last}}
        <span>{{this.name}}</span>
        {{else}}
        <span>{{this.neme}},</span>
        {{/if}}
        {{/each}}
    </li>
</ul>
{{/each}}

